
/*InputBox*/

.inputBox 			  { 
  position:relative; 
  margin-bottom:5px; 
  display:flex;
  flex-direction: row;
}
.inputBox input 				{
     width: 198px;
    border-left: solid 1px silver;
    border-top: solid 1px silver;
    border-bottom: solid 1px silver;
    border-right: solid 1px silver;
    order:2;
    padding-left:2px;
}
.inputBox input:focus 		{ outline:none; }

/* LABEL ======================================= */
.inputBox label 				 {
  width: 100px;
  font-weight:normal;
  pointer-events:none;
  padding-right:4px;
  order:1;
      font-family: Tahoma;
    font-size: 8.5pt;
    color: #000;
}

