.AutocompleteList {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index:  200000;
    background-color: white;
    overflow: auto;
    max-height: 300px;
    padding: 1px;
    margin-top: 0;
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.AutocompleteList li{
    list-style-type: none;
    cursor: pointer;
    padding: 4px;
    border:solid 1px white ;
    background-color: white;
}

.AutocompleteList  li:hover{
    background-color: #FFe6a0 ;
     border:solid 1px #d2b47a ;
}

.AutocompleteList  li.hover{
    background-color: #FFe6a0 ;
     border:solid 1px #d2b47a ;

}